<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html -%}
<body ondragstart="return false;">
{% include header.html -%}
<div class="page page-post">
  <h1 class="title" id="{{ page.title }}">{{ page.title }}</h1>
  {% if page.date %}
  <div class="subtitle">{{site.author}} 于 {{ page.date | date: "%Y-%m-%d" }} 发布</div>
  {% endif %}
  <div class="post">
    {{ content }}
  </div>
  {% if site.extAdsense -%}
  <div class="adsense" style="overflow: hidden;">
    {% include ext-adsense.html -%}
  </div>
  {% endif %}
</div>
  <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
    <div id="comment"></div>
  
    <div id="comment" class="comments-area"></div>
    <script>
        new Valine({
            el:'#comment',
                appId: 'kR0DrhYz290MWeAFzRc5vq73-MdYXbMMI',
                appKey: 'yTOj3tkTwHdUNYq0CrfvTQPT',
                avatar:'monsterid',
            placeholder:"讲两句???..."
        })
    </script>
{% include footer.html -%}
{% include script.html -%}
</body>
</html>
