<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html -%}
<body ondragstart="return false;">
{% include header.html -%}
<div class="page page-post">
  <h1 class="title" id="{{ page.title }}">{{ page.title }}</h1>
  {% if page.date %}
  <div class="subtitle">{{site.author}} 于 {{ page.date | date: "%Y-%m-%d" }} 发布</div>
  {% endif %}
  <div class="post">
    {{ content }}
  </div>
  {% if site.extAdsense -%}
  <div class="adsense" style="overflow: hidden;">
    {% include ext-adsense.html -%}
  </div>
  {% endif %}
  <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
    <div id="comment"></div>
  
    <div id="comment" class="comments-area"></div>
    <script>
        new Valine({
            el:'#comment',
            appId: 'zQtWkYDBWng6LElPfb1hH9iT-MdYXbMMI',
            appKey: 'SK41j9uxfsN7zQFdl52jBIoH',
            avatar:'monsterid'
            placeholder:"评论可以一针见血..."
        })
    </script>
{% include footer.html -%}
{% include script.html -%}
</body>
</html>
